@page "/"

<PageTitle>RaspiAir</PageTitle>

<h2>Air Quality</h2>

@if (model == null)
{
    <p>Loading...</p>
}
else
{
    <MudGrid Spacing="4">
        <MudItem>
            <MudCard Width="13em" Class="border-solid border-2 mud-border-primary pa-2">
                <MudCardContent>
                    <MudText>Temperature</MudText>
                    <MudText Typo="Typo.h5">@model.Temperature.ToString("F1") &deg;C</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Width="13em" Class="border-solid border-2 mud-border-primary pa-2">
                <MudCardContent>
                    <MudText>Humidity</MudText>
                    <MudText Typo="Typo.h5">@model.Humidity.ToString("F1") %</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Width="13em" Class="border-solid border-2 mud-border-primary pa-2">
                <MudCardContent>
                    <MudText>CO&#8322;</MudText>
                    <MudText Typo="Typo.h5">@model.Co2Concentration ppm</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.subtitle2">Last updated: @model.Timestamp.LocalDateTime</MudText>
}
